@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 1rem;
	overflow-x: hidden;
	font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: plum ;
}

/*CABEÇALHO*/

.logo {
	cursor: pointer;
}

.logo img {
	max-width:75px;
    max-height:75px;
    border-radius: 50px;
    width: auto;
    height: auto;
}

header {
	position:fixed;
	top:0;
	left:0;
	width:100%;
    height: 100px;
	padding: 20px 100px;
	background-color: #000000;
	display: flex;
	justify-content:space-between;
	align-items: center;
	z-index: 1000;
	box-shadow: 0 .5rem 1rem #940e4d; ;
}

header .navegacao a{
	font-size: 2rem;
	padding: 0 1.5rem;
	color: #fff;
    background: black;
	justify-content: space-between;
}

.navegacao  {
	display:flex;
	align-items: center;
	justify-content: space-between;
	overflow: auto;
	background: #000000;
}

.navegacao a {
   position:relative;
   font-size:2em;
   color: #ffffff;
   text-decoration:none;
   font-weight: 500;
   margin-left: 40px;
   font-weight: bold;
}

header .navegacao a:hover{
    font-size: 2.5rem;
    transition: 0.2s;
    }
    
    header nav a::after {
        content: "";
        width: 0%;
        height: 2px;
        position: absolute;
        bottom: 0;
        background: #940e4d;
        left: 0;
        transition: .3s;
    }
    
    header nav a:hover::after {
        width: 100%;
    }
    

/*FIM DO CABEÇALHO*/

.container {
    align-items: center;
    width: 100%;
    display: flex;
    margin-left: 25%;
    margin-top: 12%;
    
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
    border-radius: 10px;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    background-color: #940e4d;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover {
    background-color: #940e4d;
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #940e4d;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 1.5rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #940e4d;
}

.input-box label,
.gender-title h6 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 1.2rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #940e4d;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.continue-button button:hover {
    background-color: #f12383;
}

.continue-button button a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
}

/*PARTE DO FOOTER*/
.rodape{
    background-color: #940e4d;
    color: white;
    height: auto;
    width: 100%;
    font-size: 14px;
    font-family: helvetica;
	bottom: 0;
    margin-top: 60px;
}

.rodape a{
    text-decoration: none;
    color: white;
}
.rodape p{
    margin-bottom: 5px;
}
.rodape-div{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin: auto;
    align-items: stretch;
    padding: 60px 10px 40px 10px;
}
.rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
    display: flex;
    width: calc(100% / 4 - 20px);
    padding: 10px;
}
.rodape .contato{
    font-size: 20px;
    color: white;
}
.rodape-direitos{
    width: calc(100% - 20px);
    background-color: black;
    padding: 10px;
    margin: 0px;
    text-align: center;
}

.rodape i {
	font-size: 2.0rem;
}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
}