:root {
    --cor-rosa: pink;
}

* {
    font-family: 'Mukta', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
	transition: .2s linear;
    box-sizing:border-box;
}

html{
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 6rem;
	overflow-x: hidden;
}

body {
	align-items: center;
	justify-content: center;
	min-height: 100vh;
    background-color: plum;
}

.logo {
	cursor: pointer;
}

.logo img {
	max-width:75px;
    max-height:75px;
	border-radius: 50px;
    width: auto;
    height: auto;
}

header {
	position:fixed;
	top:0;
	left:0;
	width:100%;
    height: 100px;
	padding: 20px 100px;
	background-color: #000000;
	display: flex;
	justify-content:space-between;
	align-items: center;
	z-index: 1000;
	box-shadow: 0 .5rem 1rem #940e4d; ;
}

header .navegacao a{
	font-size: 2rem;
	padding: 0 1.5rem;
	color: #fff;
    background: black;
	justify-content: space-between;
}

header .navegacao a:hover{
    font-size: 2.5rem;
    }

.navegacao  {
	display:flex;
	align-items: center;
	justify-content: space-between;
	overflow: auto;
	background: #000000;
}

.navegacao a {
   position:relative;
   font-size:3em;
   color: #ffffff;
   text-decoration:none;
   font-weight: 500;
   margin-left: 40px;
   font-weight: bold;
}

header nav a::after {
    content: "";
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    background: #940e4d;
    left: 0;
    transition: .3s;
}

header nav a:hover::after {
    width: 100%;
}



.btnLogin-popup {
    width:80px;
    height:50px;
    background:transparent;
    border:2px solid #ffffff;
    outline:none;
    border-radius:6px;
    cursor:pointer;
    font-size:2em;
    color:#ffffff;
    font-weight:500;
    margin-left:40px;
    transition:0.5s;
    
}

.btnLogin-popup:hover {
    background:#cc2193;
    color:#ffffff;
}

/*SOBRE NÓS*/
.about-us {
    margin-top: 50px;
    width: 100%;
}

.container {
    display: flex;
    max-width: 1400px;
    margin: auto;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
    padding-top: 100px;
    margin-bottom: 80px;
    background-color: #940e4d;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}

.text-about {
    text-align: left;
}

.divisao {
    padding: 100px;
}

.img-about>img {
    width: 45rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.text-about {
    color: rgb(255, 255, 255);
    font-size: 2.0rem;
}

.text-about>h1 {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bolder;
}

.about-text1 {
    margin-top: 20px;
    margin-bottom: 30px;
}

/*FIM SOBRE NÓS*/

/*PARTE DO FOOTER - RODAPE*/

.rodape{
    background-color: #940e4d;
    color: white;
    height: auto;
    width: 100%;
    font-size: 14px;
    font-family: helvetica;
	bottom: 0;
}

.rodape a{
    text-decoration: none;
    color: white;
}
.rodape p{
    margin-bottom: 5px;
}
.rodape-div{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin: auto;
    align-items: stretch;
    padding: 60px 10px 40px 10px;
}
.rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
    display: flex;
    width: calc(100% / 4 - 20px);
    padding: 10px;
}
.rodape .contato{
    font-size: 20px;
    color: white;
}
.rodape-direitos{
    width: calc(100% - 20px);
    background-color: black;
    padding: 10px;
    margin: 0px;
    text-align: center;
}

.rodape i {
	font-size: 2.0rem;
}

