:root {
    --cor-rosa: pink;
}

* {
    font-family: 'Mukta', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
	transition: .2s linear;
    box-sizing:border-box;
}

html{
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 2rem;
	overflow-x: hidden;
}

body {
	align-items: center;
	justify-content: center;
	min-height: 100vh;
    background-color: plum;
}

.logo {
	cursor: pointer;
}

.logo img {
	max-width:75px;
    max-height:75px;
	border-radius: 50px;
    width: auto;
    height: auto;
}

header {
	position:fixed;
	top:0;
	left:0;
	width:100%;
    height: 100px;
	padding: 20px 100px;
	background-color: #000000;
	display: flex;
	justify-content:space-between;
	align-items: center;
	z-index: 1000;
	box-shadow: 0 .5rem 1rem #940e4d; ;
}

header .navegacao a{
	font-size: 2rem;
	padding: 0 1.5rem;
	color: #fff;
    background: black;
	justify-content: space-between;
}

header .navegacao a:hover{
    font-size: 2.5rem;
    }

.navegacao  {
	display:flex;
	align-items: center;
	justify-content: space-between;
	overflow: auto;
	background: #000000;
}

.navegacao a {
   position:relative;
   font-size:3em;
   color: #ffffff;
   text-decoration:none;
   font-weight: 500;
   margin-left: 40px;
   font-weight: bold;
}

header nav a::after {
    content: "";
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    background: #940e4d;
    left: 0;
    transition: .3s;
}

header nav a:hover::after {
    width: 100%;
}


.btnLogin-popup {
    width:80px;
    height:50px;
    background:transparent;
    border:2px solid #ffffff;
    outline:none;
    border-radius:6px;
    cursor:pointer;
    font-size:2em;
    color:#ffffff;
    font-weight:500;
    margin-left:40px;
    transition:0.5s;
    
}

.btnLogin-popup:hover {
    background:#cc2193;
    color:#ffffff;
}

/*PLANOS E PREÇOS*/

.container{
    width: 1100px;
    height: 100%;
    margin: 150px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.container .card{
    width: 300px;
    height: auto;
    padding: 10px 0;
    text-align: center;
    background: linear-gradient(135deg, #cc2193 0%, #940e4d 100%);
    border-radius: 15px;
    box-shadow: 2px 5px 15px black;
    transition: transform 0.3s;
}

.container .card:hover{
    transform: scale(1.050);
}

.container .card .card-title{
    padding: 30px 20px;
    border-bottom: 2px solid gray;
}

.container .card .card-title h2{
    font-size: 35px;
    padding-bottom: 15px;
    color: rgb(255, 255, 255);
}

.container .card .card-title p span{
    font-size: 40px;
    padding: 0 5px;
}

.container .card .card-content ul{
    padding: 10px 30px;
    padding-bottom: 20px;
}

.container .card .card-content ul li{
    list-style: none;
    padding: 10px 0;
    font-size: 1.5rem;
}

.container .card .card-content ul li i{
    margin-right: 4px;
}

.container .card .card-content button{
    width: 120px;
    padding: 10px 20px;
    background: white;
    border-radius: 20px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.container .card .card-content button:hover{
    background: #605fc0;
    letter-spacing: 1.2px;
}

.container .card .card-content button a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

/*FIM DOS PLANOS E PREÇOS*/

/*PARTE DO FOOTER - RODAPE*/

.rodape{
    background-color: #940e4d;
    color: white;
    height: auto;
    width: 100%;
    font-size: 14px;
    font-family: helvetica;
	bottom: 0;
}

.rodape a{
    text-decoration: none;
    color: white;
}
.rodape p{
    margin-bottom: 5px;
}
.rodape-div{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin: auto;
    align-items: stretch;
    padding: 60px 10px 40px 10px;
}
.rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
    display: flex;
    width: calc(100% / 4 - 20px);
    padding: 10px;
}
.rodape .contato{
    font-size: 20px;
    color: white;
}
.rodape-direitos{
    width: calc(100% - 20px);
    background-color: black;
    padding: 10px;
    margin: 0px;
    text-align: center;
}

.rodape i {
	font-size: 2.0rem;
}
